<ion-header>
    <ion-toolbar>
        <div>
            <ion-title>Agregar reserva</ion-title>
        </div>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-content>
        <!-- fab placed to the top end -->
        <ion-fab vertical="top" horizontal="start" slot="fixed">
            <ion-fab-button (click)="mv()">

                <ion-icon name="return-down-back"></ion-icon>

            </ion-fab-button>
        </ion-fab>

        <ion-card>
            <img src="../../assets/img/hotel1.jpg" alt="">
            <ion-card-header>
                <ion-card-subtitle>Luxury</ion-card-subtitle>
                <ion-card-title>Hotel X</ion-card-title>
                <ion-button (click)="mf()" expand="block" color="tertiary">
                    <ion-icon name="add-circle-outline"></ion-icon> Agregar hotel al plan</ion-button>


            </ion-card-header>

            <ion-card-content>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos dolorum voluptatem laboriosam ratione laudantium quidem quia ipsum numquam est, eveniet fuga aspernatur ipsa? Vero possimus voluptates doloribus labore omnis impedit.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="../../assets/img/hotel2.jpg" alt="">
            <ion-card-header>
                <ion-card-subtitle>Luxury</ion-card-subtitle>
                <ion-card-title>Hotel Y</ion-card-title>
                <ion-button (click)="mf()" expand="block" color="tertiary">
                    <ion-icon name="add-circle-outline"></ion-icon> Agregar hotel al plan</ion-button>

            </ion-card-header>

            <ion-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quos. Cum laborum libero ea delectus, accusamus eveniet voluptates nam. Quia nobis facilis iste repudiandae omnis ullam iure, officia dolor est. </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="../../assets/img/hotel3.jpg" alt="">
            <ion-card-header>
                <ion-card-subtitle>Economic
                </ion-card-subtitle>
                <ion-card-title>Hotel Z</ion-card-title>
                <ion-button (click)="mf()" expand="block" color="tertiary">
                    <ion-icon name="add-circle-outline"></ion-icon> Agregar hotel al plan</ion-button>

            </ion-card-header>

            <ion-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, velit omnis! Iste, quo voluptatem asperiores facilis, aspernatur et voluptate numquam soluta nemo omnis consequuntur quisquam dignissimos nam non id ratione.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="../../assets/img/cabañas 1.jpg" alt="">
            <ion-card-header>
                <ion-card-subtitle>Economic
                </ion-card-subtitle>
                <ion-card-title>Cabaña X</ion-card-title>
                <ion-button (click)="mf()" expand="block" color="tertiary">
                    <ion-icon name="add-circle-outline"></ion-icon> Agregar cabaña al plan</ion-button>

            </ion-card-header>

            <ion-card-content>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero eveniet repellendus voluptates similique nulla fugiat totam maiores. Illo tempora possimus quo, aspernatur, laudantium perferendis excepturi quaerat, impedit sit pariatur sequi.
            </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="../../assets/img/cabañas 2.jpg" alt="">
            <ion-card-header>
                <ion-card-subtitle>Luxury</ion-card-subtitle>
                <ion-card-title>Cabaña Z</ion-card-title>
                <ion-button (click)="mf()" expand="block" color="tertiary">
                    <ion-icon name="add-circle-outline"></ion-icon> Agregar cabaña al plan</ion-button>

            </ion-card-header>

            <ion-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolores maiores laboriosam molestias sed facere iste perferendis, quam enim nesciunt, corrupti tempora fuga doloribus praesentium quisquam autem, optio beatae fugiat?
            </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="../../assets/img/cabaña3.jpg" alt="">
            <ion-card-header>
                <ion-card-subtitle>Economic
                </ion-card-subtitle>
                <ion-card-title>Cabaña W</ion-card-title>
                <ion-button (click)="mf()" expand="block" color="tertiary">
                    <ion-icon name="add-circle-outline"></ion-icon> Agregar cabaña al plan</ion-button>

            </ion-card-header>

            <ion-card-content>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum veritatis consequatur sint ut, alias dignissimos nesciunt cupiditate placeat laudantium et suscipit eius molestias similique facilis incidunt, recusandae mollitia perferendis iusto.
            </ion-card-content>
        </ion-card>

    </ion-content>